.hotel-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

/* Heading */
.slot-title {
  font-size: 26px;
  font-weight: 700;
  color: #00b300;
  text-align: center;
}

.slot-date {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-top: 5px;
}

.checkout-text {
  text-align: center;
  font-size: 14px;
  margin-bottom: 30px;
}

/* HOTEL CARD BOX */
.hotel-card {
  display: flex;
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.15);
  overflow: hidden;
  margin-bottom: 20px;
}

/* IMAGE LEFT */
.hotel-img-wrap {
  width: 28%;
}

.hotel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CENTER CONTENT */
.hotel-info {
  width: 50%;
  padding: 16px;
}

.hotel-name {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  color: #333;
}

.hotel-desc {
  font-size: 14px;
  color: #666;
  margin-top: 6px;
}

/* RIGHT PANEL */
.hotel-side {
  width: 22%;
  background: #2d8f2d;
  color: white;
  padding: 15px;
  text-align: center;
}

.hotel-type {
  font-size: 14px;
  font-weight: bold;
}

.hotel-price {
  font-size: 16px;
  margin: 8px 0;
}

/* BOOK BUTTON */
.hotel-book-btn {
  background: white;
  color: #2d8f2d;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  transition: 0.2s;
}

.hotel-book-btn:hover {
  background: #e8e8e8;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .hotel-card {
    flex-direction: column;
  }

  .hotel-img-wrap,
  .hotel-info,
  .hotel-side {
    width: 100%;
  }

  .hotel-side {
    border-radius: 0;
    padding: 12px;
  }
}
/* Model Section */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.booking-modal {
  background: white;
  width: 70%;
  max-width: 700px;
  padding: 25px;
  border-radius: 10px;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

.phone-input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.confirm-btn {
  width: 120px;
  padding: 10px;
  background: #0b8a3e;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  border: none;
}

.modal-info {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  font-size: 14px;
}

.hotel-titleModal{
  margin-bottom: 0;
}

.hotel-typeModal{
  color: gray;
  margin-top: 4px;
}
