/* ====================
   TOP LANGUAGE BAR
======================= */
.lang-bar {
  background: #8b0000;
  padding: 4px 0;
  font-weight: 500;
}

/* ====================
   MAIN GRADIENT HEADER
======================= */
.temple-header {
  background: linear-gradient(to bottom, #d13c2e, #ff8c42, #a04b1a);
  color: white;
}

.temple-logo {
  height: 95px;
  width: auto;
  object-fit: contain;
}

/* ====================
     SLOGANS
======================= */
.slogan-bar {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  opacity: 0.95;
}

/* ====================
     TITLE TEXT
======================= */
.temple-title {
  font-size: 17px;
  line-height: 1.3;
}

.temple-subtitle {
  font-size: 20px;
  color: #ffe600; /* bright yellow */
  line-height: 1.3;
}

/* ====================
    MOBILE RESPONSIVE
======================= */
@media (max-width: 768px) {
  
  .slogan-bar {
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    gap: 2px;
  }

  .temple-logo {
    height: 80px;
  }

  .temple-title {
    font-size: 14px;
  }

  .temple-subtitle {
    font-size: 16px;
  }
}

/* Navigation bar */
.nav-bar {
  background: #a8431f;
}

.nav-link-temple {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.nav-link-temple:hover {
  text-decoration: underline;
}
.site-footer {
  background: linear-gradient(to bottom, #a8431f, #813412);
}
.calendar-heading{
    text-align: center;
    color: rgb(0, 114, 0);
}